{{>header}}
{{>navbar}}

<div class="container-fluid">
    <div class="row mt-5" >
        <h2 class="text-center">NATIONAL TOURS AND TRAVELS</h2>
        <img src="https://www.thoughtfulminds.org/wp-content/uploads/2017/05/tours-and-travels-website-content-writing-services-in-India-Thoughtful-Minds.jpeg" alt="jcd"  width="600px" height="400px">
    </div>
</div>

{{>footer}}